<ion-header>
  <ion-toolbar>
    <ion-title #title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>CafetalApp es una aplicación dedicada a los amantes del café de especialidad. En ella puedes descubrir, conocer y comprar cafés selectos de distintas regiones del mundo, con descripciones detalladas y precios actualizados. Nuestra misión es acercarte las mejores experiencias cafeteras directamente a tu hogar, ofreciendo calidad y pasión en cada taza.</p>
  <ion-button #pulseBtn expand="block" routerLink="/home">
    Volver a Home
  </ion-button>
</ion-content>
