.productos-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding-bottom: 1rem;
  gap: 1rem;
}

.producto-card {
  min-width: 250px;
  flex: 0 0 auto;
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
